Package: fetchit-dbgsym
Source: fetchit
Version: 1.2.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Keira Hopkins <open-source@keirahopkins.co.uk>
Installed-Size: 30
Depends: fetchit (= 1.2.0-1)
Section: debug
Priority: optional
Description: debug symbols for fetchit
Build-Ids: 9b897495a41dd8bbef2967a64eca658154719f44
